.cards-list {
  display: grid;
  margin: 60px 65px 10px 28px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 32px;
  list-style: none;
}

.cards-list__notice {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
  margin: 6px auto 0 0;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .cards-list {
    grid-gap: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 0;
    margin: 60px auto 10px auto;
    align-self: center;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 1042px) {
  .cards-list {
    grid-column-gap: 24px;
    grid-row-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 0;
    margin: 80px 10px 30px 10px;
  }
}

@media screen and (max-width: 752px) {
  .cards-list {
    grid-gap: 16px;
    margin: 30px auto 0 auto;
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .cards-list {
    margin: 40px auto 0 auto;
    max-width: 300px;
    grid-row: 16px;
  }
}
