.profile {
  height: 626px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
}

.profile__title {
  margin: 74px auto 123px auto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  width: 410px;
  height: 482px;
}
.profile__input{
 display: flex;
 flex-direction: row;
 padding-bottom: 16px;
 padding-top: 0;
 margin: 0;
}
.profile__form-input {

  border-bottom: #e8e8e8 solid 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  flex-direction: row;
  display: flex;
  text-align: right;
}

.profile__form-input:last-of-type {
  border: 0;
  text-align: right;
}

.profile__form-name {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 11px auto 0 0;
}


.profile__edit {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
}

.profile__button {
 
  color: #ff4062;
  background-color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 16px auto 0 auto; 
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__form {
    max-width: 396px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 490px) {
  .profile__form {
    max-width: 260px;
  }
}
