.main-about {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

.main-about__header {
  max-width: 1140px;
  justify-content: center;
  border-bottom: 1px #000000 solid;
}

.main-about__subtitle {
  margin: 110px auto 23px 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}
.main-about__table {
  width: 100%;
  margin: 70px 0 0 0;
  padding: 0;

  display: flex;
}
.main-about__headers {
  margin: 0 0 15px 0;
  flex-direction: row;
  display: flex;
}

.main-about__info-subtitle {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.main-about__info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 35px;
}

.main-about__time {
  margin: 90px auto 0 auto;
  flex-direction: row;
  display: flex;
  text-align: center;
  align-self: center;
  width: 100%;
}

.main-about__time-1 {
  width: 228px;
  height: 28px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 9px;
  margin: 0;
  flex-direction: column;
  display: flex;
}

.main-about__time-2 {
  padding-top: 9px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0 0 135px 0;
  width: 912px;
  flex-direction: column;
  display: flex;
  height: 28px;
}

.main-about__time-span {
  background-color: #ffffff;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin: 25px auto 0 auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-about {
    margin: 0 50px 0px 50px;
  }

  .main-about__info-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
  }

  .main-about__info-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .main-about__time-2 {
    margin-bottom: 120px;
  }

  .main-about__subtitle {
    margin-top: 90px;
  }
}


@media screen and (max-width: 500px) {
  .main-about {
    margin: 0 17px;
  }
  .main-about__table {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 17px;
  }

  .main-about__subtitle {
    margin: 70px 0 28px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }

  .main-about__info-text {
    margin: 0 0 56px 0;
    width: 284px;

  }

  .main-about__info-subtitle {
    font-size: 18px;
line-height: 22px;
letter-spacing: -0.04em;
width: 284px;
margin: 0;
padding: 0;
  }

  .main-about__time {
    margin: 0 10px 0 10px;
    width: 284px;
  }

  .main-about__time-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
     width: 100px;
  }

  .main-about__time-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    margin-bottom: 90px;
    width: 184px;
  }

  .main-about__time-span {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}
