.promo {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: #f3c1f8;
  position: relative;
}

.promo__landing {
  flex-direction: column;
  margin: 75px;
  margin-left: 70px;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  display: flex;
}

.promo__text {
  margin-top: 36px;
  opacity: 0, 5;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 310px;
}

.promo__logo {
  max-width: 310px;
  position: absolute;
  top: 75px;
  right: 70px;
}

.promo__button {
  width: 129px;
  height: 36px;
  border: #000000 solid 1px;
  margin: 135px auto 0 0;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.promo-button-text {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
@media screen and (max-width: 1197px) {
  .promo {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    max-width: 100%;
  }

  .promo__logo {
    position: static;
    margin: 214px auto 0 auto;
  }

  .promo__title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo__text {
    margin: 22px auto 62px auto;
    opacity: 0, 5;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }

  .promo__button {
    margin: 0 auto 76px auto;
    text-align: center;
    display: flex;
  }

  .promo__landing {
    margin: 48px auto;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    margin: 0 auto;
  }
  .promo__landing {
    margin: 0;
    padding: 0;
    margin-left: 0;
  }

  .promo__logo {
    margin-top: 135px;
    margin-bottom: 52px;
  }

  .promo__text {
    margin: 22px auto 92px auto;
  }
}
@media screen and (max-width: 500px) {
  .promo__landing {
    margin-bottom: 0;
  }
  .promo__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0 10px;
  }

  .promo__text {
    margin: 24px auto 80px auto;
    width: 260px;
  }

  .promo__logo {
    width: 210px;
    margin: 70px auto 40px auto;
  }
  .promo__button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .promo {
    margin: 0;
    padding: 0;
  }

 .promo__landing {
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

 }

  .promo__button {
    margin-bottom: 30px;
  }

  .promo__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.04em;
    margin: 0 10px;
  
  }
  .promo__text {
    margin: 24px 30px 80px 30px;
  }
}
