.header {
  height: 74px;
  display: flex;
  flex-direction: row;
  padding-right: 70px;
  max-width: 100%;
}

.header__logo {
  max-width: 38px;
  max-height: 38px;
  margin: 18px auto 18px 70px;
  cursor: pointer;
}

.header__main_background {
  background-color: #f3c1f8;
  height: 74px;
  display: flex;
  flex-direction: row;
  padding-right: 70px;
  max-width: 1280px;
}

.header__links {
  margin: 21px 0 21px auto;
}

.header__registraton {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-decoration: none;
}

.header__login {
  color: #ffffff;
  border: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.header__button {
  width: 76px;
  height: 32px;
  background-color: #000;
  border-radius: 3px;
  margin-left: 30px;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-right: 15px;
    margin: 0;
  }

  .header__logo {
    margin: 18px auto 18px 14px;
  }
}

@media screen and (max-width: 500px) {
  .header__main_background {
    padding-right: 14px;
  }

  .header__button {
    margin-right: 0;
    margin-left: 14px;
  }

  .header__registraton {
    margin: 0;
  }
}
