.footer {
  max-height: 172px;
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  position: relative;
}

.footer__title {
  margin: 79px auto 20px auto;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: #e8e8e8 solid 1px;
  color: #a0a0a0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.footer__copyright {
  font-size: 13px;
  margin: 0 auto 0 0;
  position: absolute;
}

.footer__links {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 20px auto;
  padding: 0;
  color: #000;
  justify-content: space-between;
}

.footer__link:first-of-type {
  margin-right: 20px;
}

.footer__link:last-of-type {
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 1000px) {
  .footer {
    margin: 0 30px;
  }

  .footer__title {
    margin: 90px 30px 20px auto;
    max-width: 100%;
  }
  .footer__copyright {
    margin: 0;
  }

  .footer__links {
    margin-top: 0;
  }

  .footer__link:last-of-type {
    margin-right: 0px;
  }
}

@media screen and (max-width: 410px) {
  .footer {
    height: 253px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
    border-bottom: #a0a0a0 1px solid;
    text-align: center;
    margin: 50px 0 0 0;
  }

  .footer__links {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 146px;
    align-items: center;
    justify-content: center;
  }

  .footer__copyright {
    margin: 30px auto 10px auto;
    position: absolute;
    top: 57px;
  }

  .footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto 12px auto;
    text-align: center;
    padding: 0;
  }

  .footer__link:first-of-type {
    margin-right: auto;
    margin-top: 0px;
  }

  .footer__link:last-of-type {
    margin: 0 auto;
  }
}
