.footer {
  max-height: 172px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
}

.footer__profile {
  display: none;
}
.footer__title {

  padding-bottom: 20px;
  margin: 79px 70px 20px 70px;
  border-bottom: #e8e8e8 solid 1px;
  color: #a0a0a0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
}

.footer__copyright {
  font-size: 13px;
  margin: 0 auto 0 0;
  position: absolute;
  font-family: 'Inter', 'Arial', sans-serif;
}

.footer__links {
  margin: 0 70px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  font-family: 'Inter', 'Arial', sans-serif;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 20px auto;
  padding: 0;
  color: #000;
  justify-content: space-between;
  font-family: 'Inter', 'Arial', sans-serif;
}

.footer__link:first-of-type {
  margin-right: 20px;
}

.footer__link:last-of-type {
  margin-right: 0;
  margin-left: 0;
}


@media screen and (max-width: 768px) {
  .footer {
    margin: 20px auto 0 auto;
    max-width: 768px;
  }

  .footer__links {
    margin: 0 30px;
  }

  .footer__copyright {
    margin-left: 0;
    padding: 0;
  }

  .footer__title {
    margin: 79px 30px 20px 30px;
  }
}


@media screen and (max-width: 410px) {
  .footer {
    height: 253px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    width: 100%;
  }

  .footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
    border-bottom: #a0a0a0 1px solid;
    text-align: center;
    margin: 35px 0 0 0;
    width: 300px;
  }

  .footer__links {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 146px;
    align-items: center;
    justify-content: center;
  }

  .footer__copyright {
    margin: 20px auto 10px auto;
    position: absolute;
    top: 57px;
    font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A0A0A0;
  }

  .footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto 12px auto;
    text-align: center;
    padding: 0;
  }

  .footer__link:first-of-type {
    margin-right: auto;
    margin-top: 0px;
  }

  .footer__link:last-of-type {
    margin: 0 auto;
  }
}
