.login {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 396px;
  flex-direction: column;
  position: relative;
}

.login__header {
  height: 217px;
}

.login__header-logo {
  position: absolute;
  left: 0;
  top: 40px;
}

.login__header-title {
  margin: 148px 0 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form-name {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 24px auto 5px 0;
}

.login__input {
  border-bottom: #a0a0a0 solid 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0 0 10px 0;
  margin: 0;
}

.login__input:focus {
  outline: 0;
  border-bottom: #000000 solid 1px;
}

.login__form-error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
  margin: 6px auto 65px 0;
}

.login__button {
  background-color: #000000;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  margin-top: 69px;
  width: 100%;
  height: 50px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.login__button:hover {
  cursor: pointer;
}

.login__text {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  font-family: "Inter", "Arial", sans-serif;
}

.login__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: 400;
}
