.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0 70px;
  padding: 0;
  position: relative;
  background-color: #FDFDFD;
}

@media  screen and (max-width: 1000px) {
  .page {
    margin:  0px 30px;
  }
  
}

@media  screen and (max-width: 398px) {
  .page {
    margin:  0;
  }
  
}